SENTIMENT ANALYSIS

In [156]:
import pandas as pd
import numpy as np
from numpy import nan
import math
import text2emotion as te
import nltk
# nltk.download('omw-1.4')
from autocorrect import Speller 
spell = Speller(lang='en')

In [157]:
def autospell(text):
        """
        correct the spelling of the word.
        """
        spells = [spell(w) for w in (nltk.word_tokenize(text))]
        return " ".join(spells)

In [158]:
df = pd.read_csv('/Users/nickhiltekwani/Downloads/AI Industry Study (Responses) - Form Responses 1.csv')
df = df.drop('Timestamp', axis=1)

In [159]:
# no previous question
ai_experience = "If you would like, please describe your experience with AI or knowledge surrounding it"

# Do you feel that your computer or data science undergraduate education has properly prepared you for a career in Al?
prepared_for_ai = "Please expand on the previous question if you are a CS, DS, IS, or Cybersecurity major"

# Regardless of major, do your undergrad courses discuss job opportunities/industries that 
# you can explore with the tools that course/your major teaches you?
discuss_jobs = "Please expand on the previous question, regardless of major"

# If you are a computer or data science major, do you feel that your courses properly prepared you for your internship? 
prepared_for_internship = "If applicable, please expand on the previous question"

In [160]:
ai_experience_list = df[ai_experience].tolist()
prepare_for_ai_list = df[prepared_for_ai].tolist()
discuss_jobs_list = df[discuss_jobs].tolist()
prepared_for_internship_list = df[prepared_for_internship].tolist()

In [161]:
new_ai_experience_list = [item for item in ai_experience_list if not(pd.isnull(item)) == True]
new_prepare_for_ai_list = [item for item in prepare_for_ai_list if not(pd.isnull(item)) == True]
new_discuss_jobs_list = [item for item in discuss_jobs_list if not(pd.isnull(item)) == True]
new_prepared_for_internship_list = [item for item in prepared_for_internship_list if not(pd.isnull(item)) == True]

In [162]:
print(len(new_ai_experience_list))
print(len(new_prepare_for_ai_list))
print(len(new_discuss_jobs_list))
print(len(new_prepared_for_internship_list))

25
16
24
5

In [163]:
lowercase_new_ai_experience_list = [ x.lower() for x in new_ai_experience_list ]
lowercase_new_prepare_for_ai_list = [ x.lower() for x in new_prepare_for_ai_list ]
lowercase_new_discuss_jobs_list = [ x.lower() for x in new_discuss_jobs_list ]
lowercase_new_prepared_for_internship_list = [ x.lower() for x in new_prepared_for_internship_list ]

In [164]:
autospelled_lowercase_new_ai_experience_list = [ autospell(x) for x in lowercase_new_ai_experience_list ]
autospelled_lowercase_new_prepare_for_ai_list = [ autospell(x) for x in lowercase_new_prepare_for_ai_list ]
autospelled_lowercase_new_discuss_jobs_list = [ autospell(x) for x in lowercase_new_discuss_jobs_list ]
autospelled_lowercase_new_prepared_for_internship_list = [ autospell(x) for x in lowercase_new_prepared_for_internship_list ]

In [165]:
final_ai_experience = autospelled_lowercase_new_ai_experience_list
final_prepare_for_ai = autospelled_lowercase_new_prepare_for_ai_list
final_discuss_jobs = autospelled_lowercase_new_discuss_jobs_list
final_prepared_for_internship = autospelled_lowercase_new_prepared_for_internship_list

In [166]:
ai_experience_scores = [ te.get_emotion(x) for x in final_ai_experience ]
prepare_for_ai_scores = [ te.get_emotion(x) for x in final_prepare_for_ai ]
discuss_job_scores = [ te.get_emotion(x) for x in final_discuss_jobs ]
prepared_for_internship_scores = [ te.get_emotion(x) for x in final_prepared_for_internship ]

In [167]:
ai_experience_scores_df = pd.DataFrame(ai_experience_scores)
prepare_for_ai_scores_df = pd.DataFrame(prepare_for_ai_scores)
discuss_job_scores_df = pd.DataFrame(discuss_job_scores)
prepared_for_internship_scores_df = pd.DataFrame(prepared_for_internship_scores)

In [168]:
def prepare_emotion_average(list):
    emotions = ["Happy", "Angry", "Surprise", "Sad", "Fear"]
    ret = {}
    
    for e in emotions:
        m = list[e].mean()
        s = e
        ret[s] = round(m, 3)
    
    return ret

In [169]:
print("AI Experience", prepare_emotion_average(ai_experience_scores_df), "\n") 
print("Prepared for AI", prepare_emotion_average(prepare_for_ai_scores_df), "\n")
print("Discuss Job", prepare_emotion_average(discuss_job_scores_df), "\n")
print("Prepared For Internship", prepare_emotion_average(prepared_for_internship_scores_df), "\n")

AI Experience {'Happy': 0.08, 'Angry': 0.0, 'Surprise': 0.14, 'Sad': 0.11, 'Fear': 0.31}

Prepared for AI {'Happy': 0.012, 'Angry': 0.0, 'Surprise': 0.176, 'Sad': 0.128, 'Fear': 0.183}

Discuss Job {'Happy': 0.172, 'Angry': 0.0, 'Surprise': 0.204, 'Sad': 0.188, 'Fear': 0.268}

Prepared For Internship {'Happy': 0.1, 'Angry': 0.0, 'Surprise': 0.166, 'Sad': 0.1, 'Fear': 0.634}

DATA PROCESSING FOR QUIZ SCORES

In [170]:
names = df["Name"]
python = df["Based on your experience, how important are these skill sets to go into AI jobs? [Python]"]
javascript = df["Based on your experience, how important are these skill sets to go into AI jobs? [Javascript]"]
java = df["Based on your experience, how important are these skill sets to go into AI jobs? [Java]"]
sql = df["Based on your experience, how important are these skill sets to go into AI jobs? [SQL]"]
r = df["Based on your experience, how important are these skill sets to go into AI jobs? [R]"]
cplus = df["Based on your experience, how important are these skill sets to go into AI jobs? [C++]"]
shell = df["Based on your experience, how important are these skill sets to go into AI jobs? [Shell Scripting]"]
kcluster = df["Based on your experience, how important are these skill sets to go into AI jobs? [K Cluster Analysis]"]
signal = df["Based on your experience, how important are these skill sets to go into AI jobs? [Signal Processing]"]
deeplearn = df["Based on your experience, how important are these skill sets to go into AI jobs? [Deep Learning]"]
calc = df["Based on your experience, how important are these skill sets to go into AI jobs? [Calculus]"]
probstats = df["Based on your experience, how important are these skill sets to go into AI jobs? [Probability and Statistics]"]
linearalg = df["Based on your experience, how important are these skill sets to go into AI jobs? [Linear Algebra]"]
graphanalysis = df["Based on your experience, how important are these skill sets to go into AI jobs? [Graph Analysis]"]

In [171]:
list_of_columns = [python, javascript, java, sql, r, cplus, shell, kcluster, signal, deeplearn, calc, probstats, linearalg, graphanalysis]

idk = "Don't Know What This Is"
nr = "No Relevance"
low = "Low Importance"
high = "High Importance"
crucial = "100% Crucial"

for list in list_of_columns:
    list.replace(idk, 0)

In [172]:
# scores has 4 values
def replace_values(li, scores):
    li = li.replace(nr, scores[0])
    li = li.replace(low, scores[1])
    li = li.replace(high, scores[2])
    li = li.replace(crucial, scores[3])
    return li

In [173]:
python = replace_values(python, [0, .3, .6, 1])
javascript = replace_values(javascript, [.3, 1, .3, 0])
java = replace_values(java, [.3, 1, .3, 0])
sql = replace_values(sql, [0, .3, 1, .3])
r = replace_values(r, [0, .3, 1, .3])
cplus = replace_values(cplus, [.3, 1, .3, 0])
shell = replace_values(shell, [.3, 1, .3, 0])
kcluster = replace_values(kcluster, [0, .3, 1, .3])
signal = replace_values(signal, [.3, 1, .3, 0])
deeplearn = replace_values(deeplearn, [0, .3, 1, .3])
calc = replace_values(calc, [1, .3, .3, 0])
probstats = replace_values(probstats, [0, .3, .6, 1])
linearalg = replace_values(linearalg, [.3, 1, .3, 0])
graphanalysis = replace_values(graphanalysis, [.3, 1, .3, 0])

In [174]:
df_test = pd.DataFrame(columns=['name', 'python', 'javascript', 'java', 'sql', 'r', 'cplus', 'shell', 'kcluster', 'signal', 'deeplearn', 'calc', 'probstats', 'linearalg', 'graphanalysis'])
df_test["name"] = names
df_test["python"] = python
df_test['javascript'] = javascript
df_test["java"] = java
df_test['sql'] = sql
df_test["r"] = r
df_test['cplus'] = cplus
df_test["shell"] = shell
df_test['kcluster'] = kcluster
df_test["signal"] = signal
df_test['deeplearn'] = deeplearn
df_test["calc"] = calc
df_test['probstats'] = probstats
df_test['linearalg'] = probstats
df_test['graphanalysis'] = probstats

df_test = df_test.replace("Don't Know What This Is", 0)
df_test["QUIZ SCORE"] = df_test.sum(axis=1)
df["quiz score"] = df_test["QUIZ SCORE"]

In [175]:
df

,Name,"On a high level, please rank your familiarity with AI as an industry","If you would like, please describe your experience with AI or knowledge surrounding it",Alphabet (Google),General Motors,IBM,Palantir Technologies,Meta (Facebook),Johnson & Johnson,Novartis,...,Which industry do you think has the lowest barrier of entry?,University,Major,Age At Time Of Taking this Survey,Undergrad Graduation Year,Sex,Ethnicity,Race,Email,quiz score
0,Example for Professor,3,NaN,3,3,3,3,3,3,3,...,Academia/Research,Northeastern,Computer Science,21,2022,Male,Not hispanic or Latino,Asian,NaN,7.7
1,ria bajaj,2,ive heard of it,5,5,5,1,5,5,4,...,Government (Public Sector),Northeastern,Economics,22,2022,Female,Not hispanic or Latino,Asian,NaN,6.0
2,Vrishin Sundaram,4,NaN,4,5,4,5,4,4,5,...,Government (Public Sector),BU,Engineering (Other),19,2024,Male,Not hispanic or Latino,Asian,vrishin@bu.edu,8.2
3,Vidhan Sethi,4,NaN,4,4,5,1,5,5,1,...,Government (Public Sector),BU,Business (Other),19,2025,Male,Not hispanic or Latino,Asian,sethividhan@gmail.com,8.0
4,Arya Shukla,4,NaN,1,4,4,1,1,5,1,...,Academia/Research,Northeastern,Data Science,20,2024,Female,Not hispanic or Latino,Asian,NaN,10.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,Aparna Shanmugam,3,My dad works in AI and I know it’s artificial ...,5,5,3,3,5,5,3,...,Government (Public Sector),Northeastern,Cybersecurity,19,2025,Female,Not hispanic or Latino,Asian,shanmugam.a@northeastern.edu,6.1
61,Srijay Kasturi,4,it’s cool,5,4,4,4,5,3,1,...,Corporate (Private Sector),umd,philosophy,21,2023,Male,Not hispanic or Latino,Asian,srijaykasturi@gmail.com,10.5
62,karan desai,4,NaN,5,4,4,4,5,4,1,...,Corporate (Private Sector),Uiuc,Business (Finance),23,2022,Male,Not hispanic or Latino,Asian,NaN,6.7
63,Maya Gogia,3,NaN,4,3,3,2,4,3,3,...,Academia/Research,BU,Business (Other),23,2020,Female,Hispanic or latino,Asian,mayagogia22@gmail.com,5.8
64,roshan,3,Limited.,5,5,5,5,5,5,5,...,Corporate (Private Sector),BU,Business (Finance),24,2020,Male,Not hispanic or Latino,"Asian, Indian",NaN,10.2